---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="News & Outreach">
  <article class="prose">
    <h1>News & Outreach</h1>

    <section>
      <h2>Media Coverage & Outreach</h2>
      <ul>
        <li>Keynote talk at the Sustainable AI for Edge Workshop</li>
        <li>“What’s That Smell?”</li>
        <li>“Computers That Smell” – Intel’s Neuromorphic Chip in the news</li>
      </ul>
    </section>

    <section>
      <h2>News</h2>
      <ul>
        <li><strong>Oct 2024:</strong>Neural Decision Tree for Bio-TinyML : Kartikay et al. published at BioCAS </li>
        <li>
          <strong>March 2024:</strong> Four of our lab's students were chosen to pursue higher education in the United States.
        </li>
        <li><strong>Feb 2024:</strong> Ayon is serving as an Area Chair for ICLR Tiny Papers 2024.</li>
        <li><strong>Jan 2024:</strong> Kartikay Agrawal joins the lab as a PhD student.</li>
        <!-- Add more items as needed -->
      </ul>
    </section>
  </article>
</BaseLayout>
